/***************************Common************************/
:root{
    --white: #ffffff;
    --heavenly: #b4d0e7;
    --black: #000000;
    --blue: #0093ce;
    --darkblue: #0061ff;
    --lightblue : #34a4d1;
    --lime: #8fba89;
    --green: #a2cf50;
    --lightlime: #b8cdb5;
    --bordeaux: #61082b;
    --red: #ff1c1c;
    --pink: #d5001f;
    --purple: #0d2481;
    --yellow: #ffd830;
    --lightgray: #d0d0d3;
    --beige: #f2eee8;
    --darkbeige: #e8e1d7;
    --avorio: #f7f5f2;
    --brown: #1e1919;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 150px auto;
}
.d-flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-between-no-center{
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-center{
    align-items: center;
    
}
.flex-start{
    align-items: flex-start;
}
.flex-card{
    display: flex;
    /* align-items: center; */
    align-content: center;
}
.flex-end{
    justify-content: flex-end;
   display: flex;
}

.w-30{
    width: 30%;
    font-size: 15px;
    line-height: 20px;
    padding-top: 70px;
    position: relative;
}
.w-70{
    width: 70%;
    padding-top: 70px;
}

/***************************header************************/
/***************************navbar************************/
header #nav-first-page{
    width: 100%;
    height: 41px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white);
}
#nav-first-page li{
    padding: 16px;
    list-style: none;
}
li > a{
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
}
#logo{
    padding: 0px 10px;
}
.btn-blue{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 11px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px 4px 0px; 
    cursor: pointer;
    
}
.btn-blue a{
    color: var(--white);
}


/********************** menu-a-tentida **************/
ul#menu li{
	margin:0;
	padding:0;
	display: block;
	position: relative;
}

ul#menu li a{
	float: left;
	padding:12px 30px;
	color: var(--black);
	text-transform: uppercase;
	text-decoration:none;
    
}
ul#menu li:hover{
	background: var(--darkbeige);
	color: var(--black);
}
ul#menu li a:hover{
	background: var(--darkbeige);
	color: var(--black);
}

ul#menu ul{
	margin:2px 0 0;
	padding:0;
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 38px;
	left: 0;
	z-index:9999;
	background: var(--beige);
}

ul#menu li:hover ul{
    background: var(--darkbeige);
	opacity: 1;
	visibility: visible;
}

ul#menu ul li{
	display: block;
	border: 0;
}

ul#menu ul a{
	padding:10px;
	width: 100%;
	display: block;
	white-space: nowrap;
	text-transform: none;
}

ul#menu ul a:hover{
	background-color: var(--beige);
	color: var(--black);
}

/***************************hero************************/
#hero{
    background-color: var(--heavenly);
    padding-top: 80px;
}
#hero .container-big{
    position: relative;
    bottom: -80px;
}
#hero img{
    width: 100%;
}
h1{
    font-size: 76px;
}
.w-30 > .btn-blue{
    margin: 35px 0px;
}

.fa-arrow-down{
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 45px;
    color: var(--black);
}



/***************************main************************/
/*************************prima sezione*****************/
h2{
    font-size: 30px;
}
div#radio-find label {
    padding: 30px;
}

.fatturazioni{
    padding-top: 70px;
    padding-bottom: 50px;
}
.card-conteiner{
    width: calc((100 - 100) / 3)
}
.card{
    width: 300px;
}

.check{
    padding-right: 50px;
}
/************************card-piano***************/
.border{
    border: 1px solid var(--lightgray);
}
.card-piano{
    margin: 0 50px;
}
.titolo-card{
    padding: 12px 0px;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
}
.main-card{
    padding-left: 32px;

}
.costi {
    padding-top: 40px;
}
.costi h4{
    padding-top: 26px;
    padding-bottom: 16px;
}
.costi span{
    color: gray;
}
.funzioni div{
    padding: 15px 5px;
}
.contenitore-funzioni{
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 20px;
}
#acquista{
    padding-top: 35px;
    padding-bottom: 40px;
}
.linea{
    border:1px solid var(--lightgray);
    height: 1px;
    width: 48px;
}
.punti-salienti li{
    text-decoration: none;
    list-style: none;
    padding: 20px 0;
}

.fa-check{
    color: var(--blue);
}

/* ***********************card grande********************** */
.big-card-container{
    margin-top: 50px;
}
.big-card{
    padding: 35px;

}
.big-card-container #costi{
    width: 70%;
}
#costi h4 {
    padding-top: 20px;
}
#costi p{
    padding-top: 60px;
}

#contattaci{
    width: 30%;
}
/*************************fine-prima-sezione*****************/

/*************************seconda-sezione*****************/
#partner{
    padding: 60px 49px;
}
#partner p{
    padding: 20px 0;
    line-height: 20px;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
#second img{
    width: 100%;
}
.btn-white{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px 4px 0px; 
    cursor: pointer;
}
#third h2{
    margin-bottom: 60px;
}
#third img{
    width: 100%;
}
.line-height{
    line-height: 20px;
}
/*************************fine-seconda-sezione*****************/
/*************************quarta-sezione*********************/
#fourth-section h2{
    padding-bottom: 70px;
}
/*************************fine-quarta-sezione*****************/
/*************************quinta-sezione*********************/
#fifth-section {
    width: 100%;
    margin: 0;
}
.square{
    width: 50%;
    /* height: 50%; */
    height: 16vw;
    position: relative;
}
.squares{
    width: calc(100% / 3);
    flex-wrap: wrap;
    position: relative;
}
/* .squares:after {
    content: "";
    display: block;
    padding-bottom: 100%;
} */
/**************immagini-loghi-in-quadrati-piccoli************/
.square img{
    filter:invert(1);
    width: 50%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/**********************quadrato-centrale********************/
.square-big-central {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

div.square-big-central img,
div.square-big-central p {
    padding: 30px;
}

div.square-big-central img {
    width: 60%;
}
.square-big-central hr{
    width: 100px;
    margin-left: 30px;
}

/**********************colori-quadrati********************/
.lime{
    background-color: var(--lime);
    border: 15px solid var(--lightlime);
}
.lightblue{
    background-color: var(--lightblue);
}
.bordeaux{
    background-color: var(--bordeaux);
}
.red{
    background-color: var(--red);
}
.pink{
    background-color: var(--pink);
}
.heavenly{
    background-color: var(--heavenly);
}
.purple{
    background-color: var(--purple);
}
.yellow{
    background-color: var(--yellow);
}
/*************************fine-quinta-sezione*****************/
/**********************sesta-szione********************/
.section-six {
    background-color: var(--heavenly);
    padding: 60px 0;
}
.section-six-flex {
    align-items: flex-start;
}

.section-six h2 {
    color: var(--bordeaux);
    width: 70%;
}

.btn-white-2 {
    display: block;
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
    width: 30%;
    padding: 10px;
    text-align: center;
}
/*************************fine-sesta-sezione*****************/
/**********************settima-szione********************/
.section-seven li {
    border-bottom: 1px solid var(--black);
    padding: 20px 0;
    list-style: none;
}

li.view-hidden h4 {
    padding: 20px 0;

}

.hidden {
    display: none;
}

li.view-hidden:hover .hidden {
    display: block;
}
li.view-hidden:hover #freccia{
    transform: rotate(180deg);
}
li.view-hidden:hover #freccia{
    transition: 0.5s;
}



/*************************fine-settima-sezione*****************/

/******************************footer**********************/
footer {
    background-color: var(--black);
    min-height: 280px;
    padding: 30px
}

footer nav {
    padding-bottom: 20px;
}

footer nav li a {
    color: var(--white);
}

footer nav li h4 {
    padding-bottom: 15px;
    color: var(--white);
}

footer nav li {
    padding: 10px;
}

footer div {
    color: var(--white);
    padding-top: 20px;
}
footer hr{
    width: 120px;
    margin: 30px 0;
    
    
}
#lang-select {
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    min-width: 60px;
    border-color: transparent;
}



/********************************** seconda pagina ***********************/
.dim{
    margin-top: 41px ;
}
.w-50{
    width: 50%;
}
.padding{
    padding: 50px 80px;
}

/**********************************header******************************** */
/***********************prima-sezione*************************/
#prima-sezione-seconda-page{
    background-color: #1e1919;
}
#prima-sezione-seconda-page h2{
    font-size: 13px;
    color: var(--white);
}
#prima-sezione-seconda-page h1{
    font-size: 50px;
    color: var(--white);
    margin-bottom: 100px;
}
#prima-sezione-seconda-page p{
    padding-right: 30px;
    margin: auto 0 30px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--white);
}
#prima-sezione-seconda-page img{
    width: 100%;
}
#prima-sezione-seconda-page div.immagine{
    background-color: #b4dd19;
}
/***********************fine-prima-sezione*************************/
/***********************seconda-sezione****************************/
#seconda-sezione-seconda-page{
    position: relative;
    z-index: -3;
}
#seconda-sezione-seconda-page img{
    width: 100%;
    margin-bottom: -150px;
    
}
#seconda-sezione-seconda-page .box-video{
    width: 650px;
    background-color: #2a3752;
    padding: 50px 80px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 3;
}
#seconda-sezione-seconda-page .box-video:hover{
    opacity: 0.8;
}
#seconda-sezione-seconda-page p{
    font-size: 40px;
    padding-bottom: 50px;
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    color: var(--white);
    text-align: left;
    text-overflow: ellipsis;
}
#seconda-sezione-seconda-page .btn-video{
    width: 60px;
    height: 60px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 3;
}
#seconda-sezione-seconda-page a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--black);
}
/***********************fine-seconda-sezione*************************/
/***********************terza-sezione****************************/
#terza-sezione-seconda-page{
    background-color: var(--avorio);
}
#terza-sezione-seconda-page h2{
    font-size: 13px;
    color: var(--black);
}
#terza-sezione-seconda-page h3{
    font-size: 50px;
    color: var(--black);
    margin-bottom: 60px;
}
#terza-sezione-seconda-page p{
    padding-right: 30px;
    margin: auto 0 30px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--black);
}
#terza-sezione-seconda-page img{
    width: 100%;
    margin-bottom: -4px;
}
#terza-sezione-seconda-page a{
    text-decoration: none;
}
#terza-sezione-seconda-page .btn-blue:hover{
    opacity: 0.8;
}
/***********************fine-terza-sezione*************************/
/***********************quarta-sezione****************************/
#quarta-sezione-seconda-page {
    background-color: var(--brown);
    padding-bottom: 80px;
}
#quarta-sezione-seconda-page h2{
    text-align: center;
    font-size: 50px;
    color: var(--white);
    padding-top: 80px;
}
#quarta-sezione-seconda-page button{
    background-color: transparent;
    margin: 0;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white);
}
#quarta-sezione-seconda-page #bottoni-frecce{
    margin-right: 50px;
    margin-bottom: 15px;
}
/*******************box-translate*************************/
.box-testo{
    padding: 30px 30px 20px;
}
.box-img{
    background-color: var(--avorio);
    width: 45vw;
    height: 20vw;
}
.box-img img{
    width: 100%;
    height: 100%;
}
#quarta-sezione-seconda-page h3{
    font-size: 13px;
    margin-bottom: 10px;
}
#quarta-sezione-seconda-page p{
    font-size: 16px;
    line-height: 1.6;
}
#quarta-sezione-seconda-page a{
    text-decoration: none;
}
#quarta-sezione-seconda-page .btn-blue:hover{
    opacity: 0.8;
}
/***********************fine-quarta-sezione*************************/
/***********************quinta-sezione****************************/
#quinta-sezione-seconda-page{
    width: 100%;
    background-color: var(--avorio);
    padding: 100px 80px;
}
#quinta-sezione-seconda-page h2{
    font-size: 50px;
    margin-bottom: 75px;
}
.contentore-box-logo{
    width: calc(100 / 5);
    padding-top: 30px;
}

.box-logo{
    background-color: var(--white);
    width: 17vw;
    height: 8.5vw;
    margin: 0 30px 0 0;
    position: relative;
}

div.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.box-logo img {
    width: 50%;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#gongcha{
    width: 20%;
}
/***********************fine-quinta-sezione*************************/
/***********************sesta-sezione****************************/

#sesta-sezione-seconda-page {
    background-color: var(--green);
    padding: 100px 0;
}

#sesta-sezione-seconda-page .section-six-flex {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: column;
}

#sesta-sezione-seconda-page a {
    font-size: 50px;
    color: var(--black);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.411) ;
}
#sesta-sezione-seconda-page a:hover{
    border-bottom: 1px solid var(--black);
}

#sesta-sezione-seconda-page a i{
    font-size: 25px;
    padding-left: 30px;
}
#sesta-sezione-seconda-page p {
    font-size: 13px;
}



