/***************************Common************************/
:root{
    --white: #ffffff;
    --heavenly: #b4d0e7;
    --black: #000000;
    --blue: #0061ff;
    --lightblue : #34a4d1;
    --lime: #afd4aa;
    --lightlime: #d3e5d0;
    --bordeaux: #7e3a55;
    --red: #f64949;
    --pink: #d6344c;
    --purple: #3e4f96;
    --yellow: #f6d859;
    --lightgray: #d0d0d3;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 150px auto;
}
.d-flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center{
    align-items: center;
    
}
.flex-start{
    align-items: flex-start;
}
.flex-card{
    display: flex;
    /* align-items: center; */
    align-content: center;
}

.w-30{
    width: 30%;
    font-size: 15px;
    line-height: 20px;
    padding-top: 70px;
    position: relative;
}
.w-70{
    width: 70%;
    padding-top: 70px;
}

/***************************header************************/
/***************************navbar************************/
header nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white);
}
nav li{
    padding: 16px;
    list-style: none;
}
li > a{
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
}
.btn-blue{
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 11px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px 4px 0px; 
    cursor: pointer;
}
.btn-blue a{
    color: var(--white);
}
/***************************hero************************/
#hero{
    background-color: var(--heavenly);
    padding-top: 80px;
}
#hero .container-big{
    position: relative;
    bottom: -80px;
}
#hero img{
    width: 100%;
}
h1{
    font-size: 76px;
}
.w-30 > .btn-blue{
    margin: 35px 0px;
}

.fa-arrow-down{
    position: absolute;
    bottom: 100px;
    left: 0;
    font-size: 45px;
}

/***************************main************************/
/*************************prima sezione*****************/
h2{
    font-size: 30px;
}
.fa-circle{
    color: var(--lightgray);
}

.fa-circle:hover{
    color: var(--blue);
}
.fatturazioni{
    padding-top: 70px;
    padding-bottom: 50px;
}
.card-conteiner{
    width: calc((100 - 100) / 3)
}
.card{
    width: 300px;
}

.check{
    padding-right: 50px;
}
/************************card-piano***************/
.border{
    border: 1px solid var(--lightgray);
}
.card-piano{
    margin: 0 50px;
}
.titolo-card{
    padding: 12px 0px;
    text-align: center;
    border-bottom: 1px solid var(--lightgray);
}
.main-card{
    padding-left: 32px;

}
.costi {
    padding-top: 40px;
}
.costi h4{
    padding-top: 26px;
    padding-bottom: 16px;
}
.costi span{
    color: gray;
}
.funzioni div{
    padding: 15px 5px;
}
.contenitore-funzioni{
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 20px;
}
#acquista{
    padding-top: 35px;
    padding-bottom: 40px;
}
.linea{
    border:1px solid var(--lightgray);
    height: 1px;
    width: 48px;
}
.punti-salienti li{
    text-decoration: none;
    list-style: none;
    padding: 20px 0;
}

.fa-check{
    color: var(--blue);
}

/* ***********************card grande********************** */
.big-card-container{
    margin-top: 50px;
}
.big-card{
    padding: 35px;

}
.big-card-container #costi{
    width: 70%;
}
#costi h4 {
    padding-top: 20px;
}
#costi p{
    padding-top: 60px;
}

#contattaci{
    width: 30%;
}
/*************************fine-prima-sezione*****************/

/*************************seconda-sezione*****************/
#partner{
    padding: 60px 49px;
}
#partner p{
    padding: 20px 0;
    line-height: 20px;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
#second img{
    width: 100%;
}
.btn-white{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px 4px 0px; 
    cursor: pointer;
}
#third h2{
    margin-bottom: 60px;
}
#third img{
    width: 100%;
}
.line-height{
    line-height: 20px;
}
/*************************fine-prima-seconda*****************/
/*************************quarta-sezione*********************/
#fourth-section h2{
    padding-bottom: 70px;
}
/*************************fine-prima-seconda*****************/
/*************************quinta-sezione*********************/
.square{
    width: 300px;
    height: 300px;
    position: relative;
}
.square img{
    /* fill: var(--white); */
    width: 50%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.lime{
    background-color: var(--lime);
    border: 15px solid var(--lightlime);
}
.lightblue{
    background-color: var(--lightblue);
}









/* footer */
footer{
    background-color: var(--black);
    color: var(--white);
}


